.div1{
  width:50px;
height:70px;
background-color:#475;
overflow:scroll;
}



.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



















/* .container{
  height:100vh;
  width:100%;
  background-image:url("src/assets/images/gif2.gif");
  background-size:cover;
  color:white;
  overflow: hidden;
} */


 .container{
   position: relative;
  
    font-size: 48px;
    text-align: center;
   padding-left: 15px;
    padding-right: 15px; 
    
     overflow: hidden;
    text-align: center;
    
    height:100vh;
    color:white;
    width:100%;
    background-image:url("src/assets/images/1.jpg"); 

background-size: cover;
} 

.bottom-top{
  background-color: #519cf1;
  border-radius:6px;
}
.w3-animate-bottom{
  animation-duration:2s;
  height:50%;
  width:30%;
  }

/* ...................................................................................... */



@keyframes zoom{
  from{transform:scale(1,1)}
  to{transform:scale(2,2)}
  }
  
  
  .md{
    width:100%;
    height:100%;
    background-color: rgb(165, 192, 165);
  }

  li:hover{
    color:blue;
    animation-name: zoom;
     animation-timing-function:linear; 
    animation-duration: 2s;
    animation-fill-mode: forwards;  
  }

body{
   /* background-image:url('../../../assets/images/gif1.gif');  */
   background-color:wheat; 
   height:100%;
   width:100%;
    background-repeat: no-repeat;
   background-size: cover;
   padding-top:10%; 
   color:white; 
    /* font-size: 80px;
    font-family: 'Courier New'; */
 
}
/* ..............................circle................................. */

.circle{
  position: relative;
  height:50vh;
  width:50vh;
  background-image:url('src/assets/images/comp41.jpg') ;
  border-radius:25vh;  
  background-size: cover;
  background-color: #4CAF50;
  margin-left:350px;
  border:1px solid gray; 
  transition: all ease-out 1s;
   }

.left{
  height:50%;
  width:50%;
  left:25%;
  top:25%;
  border-radius:50%;
  position: absolute;
  background-color: aquamarine;
  opacity:0; 
  transition: all ease-out 1s; 
 display:block;
}
.unfocused{
  display: none;
}
 
 
.right{
  height:50%;
  width:50%;
  left:25%;
  top:25%;
  border-radius:50%;
  position: absolute;
  background-color: rgba(23,45,73,.6);
  opacity:0; 
  transition: all ease-out 1s; 
 display:block;
} 

 
.bottom{
  height:50%;
  width:50%;
  left:25%;
  top:25%;
  border-radius:50%;
  position: absolute;
  background-color: brown;
  opacity:0; 
  transition: all ease-out 1s; 
 display:block;
} 
.circle:hover { 
  transform:scale(0.5,0.5);

} 
.circle:hover> .left{
  transform:translate(-95%,-25%);
  opacity:1;

}
.left:hover{
  background-color: #519cf1;
  border:2px solid gray;
}

.circle:hover> .right{
  transform:translate(95%,-25%);
  opacity:1;

}
.right:hover{
  background-color: #519cf1;
  border:2px solid gray;
}
.circle:hover> .bottom{
  transform:translate(0%,95%);
  opacity:1;

}
.bottom:hover{
  background-color: #519cf1;
  border:2px solid gray;
}
#icon{
  color:white;
  font-size: 60px;
  padding:29%;
}
/* ..........................................END.................................. */




/* .............................slide-up........................................... */

.img{
  height:40vh;
  width:30vw;
  background-image: url("src/assets/images/comp25.jpg");
  background-size: cover;
 overflow: hidden; 
  margin-bottom: 30%;

}
.hover1{
  
  height:100%;
  width:100%;
  left:0;
  top:86%;
  position: relative;
  background:rgba(23,45,73,.6);
  transition:   1s ease-in ;
}
.img:hover > .hover1{
top:0;
}


/* ................................END............................................. */


/* ..................................typing effect.............................. */

.par{
  width:800px;
  font-size:20px;
  color:brown;
  animation:2s typing steps(40,end) infinite;
  white-space: nowrap; 
  overflow: hidden;
}
.cursor{
  width:5px;
  height:20px;
  background-color:gray;
  display:inline-block; 
  animation:2s blinking  infinite;
}
@keyframes typing{
  from{width:0;}
}
 @keyframes blinking{
  0%{opacity: 0;}
  100%{
    opacity:1;
  }
} 
  /* ...................................end....................................... */

/* ..................................mulitple line typing effect................... */

.type p {
  border-right: 2px solid gray ;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  color:olivedrab;
} 
.type p:nth-child(1) {
  width: 150px;
  animation: type1 2s steps(40, end) ;
  animation-fill-mode: forwards; 
}

.type p:nth-child(2) {
  width: 150px;
  opacity: 0;
  animation: type2 2s steps(40, end) ;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}


@keyframes type1 {
  0% {
    width: 0;
  }
  100% {
    border: none;
  } 
}
@keyframes type2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1; 
    border: display;
  } 
}


/* ...................................END....................................... */

/* ................................dropdown.................................... */

.dropdown {
  position: relative;
  display: inline-block;  
}
.btn{
  height:60px;
  width:100px;
  background-color: #4CAF50;
  color:black;
}
.dropdown-list{
  display: none;
  text-decoration: none;
  position: absolute;
  background: #f9f9f9;
}
.dropdown-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} 
.dropdown-list a:hover {
  background-color: #f1f1f1
} 
.dropdown:hover .dropdown-list{
  display:block;
}
/* ...............................END.................................... */

/* ...................................flip................................... */
@keyframes spin {
  0%{
  transform: rotateY(0deg);
  }
  100%{
  transform: rotateY(180deg);
  }
 }
.outer-box{
  width: 300px;
  height: 200px;
  perspective: 1000px; 
}
.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

 .inner-box {
  animation: 3s spin;
  transform: rotateY(180deg);
} 

 /* .outer-box:hover .inner-box {
  transform: rotateY(180deg);
}  */

.front-box, .back-box {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color:white;
}
.front-box{
  background-image:url("src/assets/images/comp25.jpg");

}
.back-box {
  /* background-color: #333333; */
  background-image:url("src/assets/images/comp41.jpg");
  background-size: cover;
  transform: rotateY(180deg);
} 

.caption{
  text-align: left;
  left:0;
  top:72%;
  position: relative;
  transition:400ms ease-in ;
}

.back-box:hover .caption{
  top:60%;
 }
 /*...................................end.............................  */

/* ....................................go to top,bottom.................................... */
/* 
#btn1,#btn2{
  height:45px;
  width:45px;
  z-index:100;
  float:right;
  border:none;
  padding:6px;
  border-radius:50%;
  position: fixed;
  background-color: red;
  color:white;
  font-size: 12px;
}
#btn1{
  bottom: 0%;
  left:95%;
  display:none;
}
#btn2{
  top: 2%;
  left:95%;
  display:none;
}

#topp{
  font-size: 18px;
  color:white;
} */
/* .................................end........................................ */
