<div class="md">

<br><br><br><br><br><br>

            <h5><a mdbPageScroll data-easing="linear" href="about#test1">Click to scroll to section 1</a></h5>
        <br>
        
            <h5><a mdbPageScroll href="#test2">Click to scroll to section 2</a></h5>
        
        <br>
    
         
        

        

        <div class="div1">
          sdcsa
          sdas<br>
          asda<br>
          asd
        </div>
        
        <!-- ..............................flip........................ -->
  <div class="outer-box">
      <div class="inner-box">
        <div class="front-box">
        </div>
        <div class="back-box">
          <div class="caption">
            <label>What's New</label>
            <p>hjhhbfjwewbfjewb</p>
          </div>
        </div>
      </div>
    </div>
  


    <button class="open-button" (click)="openBox()">Chat</button>

    <div class="chat-popup" id="myForm">
      <form action="/action_page.php" class="form-container">
        <h1>Chat</h1>
    
        <label for="msg"><b>Message</b></label>
        <textarea placeholder="Type message.." name="msg" required></textarea>
    
        <button type="submit" class="btn">Send</button>
        <button type="button" class="btn cancel" (click)="closeBox()">Close</button>
      </form>
    </div>
    







<!-- ............................end............................... -->



<div class="bottom-top w3-animate-bottom">
    <h1>Animation</h1>
    <p>from bottom.</p>
    <p>from bottom.</p>
    <p>from bottom.</p>
  </div>




<!-- ...........................circle animation.................... -->
  <div class="circle">
    <div class="left"><i class="fab fa-servicestack" id="icon"></i></div>
    <div class="right"><i class="fab fa-angular" id="icon"></i></div>
    <div class="bottom"><i class="fas fa-user" id="icon"></i></div>
  </div>
  <!-- ...................................end............................ -->

  <br><br>
  <div class="slide-up" class="animate" class= "fadeInUp" class=" one">
      hhjrrjr
      kjewker<br>
      mfnfn
</div>

<br><br><br>


<!-- ...............................dropdown.................................... -->
  <div class="dropdown">
    <button class="btn">dropdown</button>
    <div class="dropdown-list">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
    </div>
  </div>

  <!-- <a data-easing="linear" href="about#h1">service</a> -->
<!-- ..............................end............................................ -->

  <br><br><br>

<!-- ............................slide-over........................... -->
  <div class="img">
    <div class="hover1">
      Enterprise Application

      <p class="par">The end till the duration of the step is over.
        <span class="cursor"></span>
      </p>

    </div>
  </div>
<!-- ..............................end................................... -->




  
<!-- ........................go to top,bottom............................... -->
  <!-- <button (click)="top1();" id="btn1" title="go to top"><i class="fas fa-chevron-up" id="topp" ></i>Top</button>
  <button (click)="bottom1();" id="btn2" title="go to bottom">Btm<i class="fas fa-chevron-down" id="topp" ></i></button> -->
<!-- ...............................end................................. -->



<!-- ...........................text-animation............. -->
<p class="par">the end till the duration
  <span class="cursor"></span>
</p>  


<div class="type">
    <p>
      Typed text 1
    </p>
    <p>
      Typed text 2 Longer
    </p>
  </div>
<!-- ......................................end...................... -->


<!-- ......................................audio,vedio............................... -->

  <!-- <video  controls="controls">
  <source src="../assets/vedios/Facebook(1).mp4" type="video/mp4">
</video> -->

  <!-- <audio controls="controls" >
  <source src="../assets/audio/Dhal Jaun Main - Rustam (2016) 320Kbps-(DjGol.mobi).mp3"  type="audio/mp3">
</audio>   -->
<!-- .......................................end................................. -->
<!--Dummy sections with IDs coressponding with the links above-->
<div id="test1">
    <h3>Section 1</h3>
    <hr>
    <h5>Smooth Scroll Example</h5>
    <h5>Smooth Scroll Example</h5>
    <h5>Smooth Scroll Example</h5>
    <h5>Smooth Scroll Example</h5>
    <h5>Smooth Scroll Example</h5>
    <h5>Smooth Scroll Example</h5>
    <h5>Smooth Scroll Example</h5>
    <h5>Smooth Scroll Example</h5>
</div>

</div>


