<div class="home" >
  <!-- .............................bg-animation...................................... -->
  <div class=" animation">
    <!-- .................................string-list........................ -->
      <ul style="padding:5%;" align="center">
          <cdk-virtual-scroll-viewport class="string" itemSize="10"  >
                <ng-container *cdkVirtualFor="let n of numbers" >
                <li class="li1" > {{n}} </li>
                </ng-container>
          </cdk-virtual-scroll-viewport>
      </ul>
      <!-- .................................end string-list.................. -->
  </div>
<!-- ....................................end.............................................. -->







<!-- ...............................scroll button.................................. --> 

<div class="chat-icon" (click)="openBox();">
    <!-- <i class="far fa-comment-alt icon-style"></i> -->
    <!-- <i class="fas fa-comment-alt icon-style"></i> -->
    <!-- <i class="far fa-comment  icon-style"></i> -->
  <i class="fas fa-comment  icon-style"></i>
</div>

<div class="chat-box" id="box">

  <div class="head">

    <div class="head1">
        <i class="fas fa-comment  icon-style1"></i> 
         <p class="p1">Message-Us</p>
        <p class="p2"> Hi there! We'd love to help you out!</p>
    </div>

    <div class="head2">
    <i class="fas fa-times icon-style1" (click)="closeBox();"></i>
    </div>
  </div>
 <div class="main">
     
    <!-- <form action="mailto:some@example.com" method="post" enctype="">
      Name:<br>
      <input type="text" name="name"><br>
      E-mail:<br>
      <input type="text" name="mail"><br>
      Comment:<br>
      <input type="text" name="comment" size="50"><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
      </form> -->

  <ul type="none">
    <li *ngFor="let value of values,let i = index" [attr.data-index]="i" (click)="del(value)"><button ></button>{{value}}</li>
  </ul>
</div>
  <div class="foot" >
       <div class="foot1">
        <!-- <i class="fas fa-comment  icon-style1" style="padding-left:40px;"></i>  Chat -->
        <!-- <input type="submit" value="Send"> -->
        <input (keyup)="onKey($event)" style="margin:8px;">
       </div>
       <div class="foot1">
        <!-- <i class="fas fa-comment  icon-style1" style="padding-left:40px;"></i> FAQ -->
        <!-- <input type="reset" value="Reset"> -->
        <button class="btn btn-success sendbtn" (click)="send();" style="margin:8px;">Send</button>
      </div>
   </div>

  </div>



  <a href="home#spliter"><span class="scroll-btn" (click)="click();"></span></a>

<!-- ...................................end.......................................... -->




<!-- ...........................our services................................... -->
<div class="row" style="background-color: #e0e0dd">
  
    <div class="col-md-4" ><br>
    <h1 id="service">Our Services</h1>
       <div class="circle">
            <div class="left"><i class="fab fa-servicestack" id="icon"></i></div>
            <div class="right"><i class="fab fa-angular" id="icon"></i></div>
            <div class="bottom"><i class="fas fa-user" id="icon"></i></div>
          </div>
    </div>
  <div class="col-md-4"><br><br><br>
      
      <div class="circle" style="background-image:url(../assets/images/comp37.png)">
          <div class="left"><i class="fab fa-servicestack" id="icon"></i></div>
          <div class="right"><i class="fab fa-angular" id="icon"></i></div>
          <div class="bottom"><i class="fas fa-user" id="icon"></i></div>
      </div>
  </div>
  <div class="col-md-4"><br><br><br>
      <div class="circle"  style="background-image:url(../assets/images/comp25.jpg)">
          <div class="left"><i class="fab fa-servicestack" id="icon"></i></div>
          <div class="right"><i class="fab fa-angular" id="icon"></i></div>
          <div class="bottom"><i class="fas fa-user" id="icon"></i></div>
        </div>
  </div>
</div>
<!-- .................................end................................. -->

<div class="col-sm-12" style="border:1px solid black;">
<p>
fnejkhfjef
fkenfnnrefnr<br>
jjkdfgfmmdgmggmg<br>
mfmkler<br>
mgmgm<br>
hgjhgjyggyg
bvhggvgv<br>
gffvgb<br>
djqwdjwqqj
jnjnjns<br>
jhfejferherhr<br>
</p>
</div>

<!-- .............................slide over............................................... -->
<div class="row" style="background-color:rgb(238, 235, 231);float:left ;border:1px solid black">

<div class="col-md-6" >
    <div class="img">
        <div class="hover1">
          <h1>Enterprise Application</h1>

          <!-- ...........................typing-effect.......................... -->
          <p class="par">The end till the duration of the step is over.
            <span class="cursor"></span>
          </p>
          <!-- ...............................end.................................. -->

         </div>
      </div>
</div>

<div class="col-md-6" >

<div class="row">
    <div class="col-md-6">
        <div class="img1" style="background-image:url(../assets/images/comp37.png);margin-top:5px;">
            <div class="hover2">
              Enterprise Application

              <!-- ...........................typing-effect.......................... -->
              <p class="par">The end till the duration of the step is over.
              <span class="cursor"></span>
              </p>
              <!-- ..................................end.......................... -->

              </div>
          </div>
        </div>
    <div class="col-md-6">
        <div class="img1" style="margin-left:10px;margin-top:5px;">
            <div class="hover2">
              Enterprise Application

              <!-- ...........................typing-effect.......................... -->
              <p class="par">The end till the duration of the step is over.
              <span class="cursor"></span>
              </p>
              <!-- ............................end.................................. -->
              </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" >
        <div class="img1"style="margin-top:5px;">
            <div class="hover2">
              Enterprise Application

              <!-- ...........................typing-effect.......................... -->
              <p class="par">The end till the duration of the step is over.
              <span class="cursor"></span>
              </p>
              <!-- ......................................end............................ -->
              </div>
          </div>
    </div>
    <div class="col-md-6" >
        <div class="img1" style="background-image:url(../assets/images/comp37.png);margin-left:10px;margin-top:5px;">
            <div class="hover2">
              Enterprise Application

              <!-- ...........................typing-effect.......................... -->
              <p class="par">The end till the duration of the step is over.
              <span class="cursor"></span>
              </p>
              <!-- ..................................end................................ -->
              
              </div>
          </div>
    </div>
</div>
</div>
</div>
<!-- ................................end............................................. -->



<!-- ........................................................................... -->
<!-- style="height:40%;width:100%;background-color: cornflowerblue" -->
<div class="col-sm-12" style="border:1px solid black">
    <p>
        sdewd
        sdds<br>
        ddwdewd
         dfdwef
       sddewfwe<br>
       dwewes
        dwedwe<br>
        nsjasj
        sjnjnsjq
        snNSNKQ<BR>
          NNDN  
    </p>
   <h1 id="img">homwdsjjsdjhdv</h1>
</div>
<!-- ....................................................................... -->




<!-- ............................new update.................................. -->
<div class="row" style="margin:10px ;border:1px solid black">
  
  <div class="col-md-6">
  <div class="row">
      <div class="col-md-6">2
          <div class="outer-box">
              <div class="inner-box">
                <div class="front-box">
                </div>
                <div class="back-box">
                  <div class="caption">
                    <label>What's New</label>
                    <p>hjhhbfjwewbfjewb</p>
                  </div>
                </div>
              </div>
            </div> 
      </div>
      <div class="col-md-6">3
          <div class="outer-box">
              <div class="inner-box">
                <div class="front-box">
                </div>
                <div class="back-box">
                  <div class="caption">
                    <label>What's New</label>
                    <p>hjhhbfjwewbfjewb</p>
                  </div>
                </div>
              </div>
            </div>
      </div>
  <div class="col-md-12">4
      <div class="outer-box"style="width:550px">
          <div class="inner-box">
            <div class="front-box">
            </div>
            <div class="back-box">
              <div class="caption">
                <label>What's New</label>
                <p>hjhhbfjwewbfjewb</p>
              </div>
            </div>
          </div>
        </div>
  </div>     
  </div> 
  </div>
<div class="col-md-6" style="border:1px solid black">1<br>1
 <p> npm package manager
  Angular, the Angular CLI, and Angular apps depend on features and functionality provided by libraries that are available as npm packages. To download and install npm packages, you must have an npm package manager.
  
  This Quick Start uses the npm client command line interface, which is installed with Node.js by default.
  <br>
  To check that you have the npm client installed, run npm -v in a terminal/console window.
  
  Step 1: Install the Angular CLI
  You use the Angular CLI to create projects, generate application and library code, and perform a variety of ongoing development tasks such as testing, bundling, and deployment.
  <br>
  Install the Angular CLI globally.
  
  To install the CLI using npm, open a terminal/console window and enter the following command:</p>
</div>
</div>


<!-- ...............................................learn-more................................ -->

<div class="splitter" id="spliter">

  <div class="split-item">
    <div class="splitter1">
          LEARN<br> MORE
    </div> 
  </div>

  <div class="split-item">
    <div class="splitter1">
        SCHEDULE MEETING
    </div>
  </div>

</div>
<!-- ..............................................end.................................. -->
hjjrhejkewjfnemdnsmnkj

<div class="row" class="footer0">
  <div class="col-md-6" style="background-color:rgb(29, 74, 207)">

  <h4 class="footer1">RedSky | Software Development Company</h4>
  <p class="footer2">Copyright © 2019-2040 RedSky Enterprises</p>
  </div>
  <div class="col-md-6" style="background-color:rgb(29, 74, 207)">
      <i class="fab fa-youtube" id="icons" style="padding-right: 80px;"></i>
      <a href="https://www.linkedin.com/uas/login"><i class="fab fa-linkedin"id="icons"></i></a>
      <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter" id="icons"></i></a>
     <a href=" https://www.instagram.com/accounts/login/"><i class="fab fa-instagram" id="icons"></i></a>
    <a href="https://en-gb.facebook.com/login/"><i class="fab fa-facebook-square" id="icons"></i></a>
   

      
      
</div>
</div>








<!-- .............................................................. --> 
<!-- <div class='csslider1  '> -->
  <!-- <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'> -->
  <!-- <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'> -->
  <!-- <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'> -->
  <!-- <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked> -->
  <!-- <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >  -->
  <!-- <ul>
     <div style="width: 100%; visibility:hidden;">
       <img src="../assets/images/1.jpg" style="width: 100%;"> 
    </div> 
    <li class='num0 img'>
      <img src='../assets/images/comp25.jpg' alt='/'/> 
    </li>
    <li class='num1 img'>
      <img src='../assets/images/comp37.png' alt='/' />
    </li>
    <li class='num2 img'>
      <img src= '../assets/images/comp41.jpg' alt='/' />
    </li>
</ul>

</div>
 -->


  
<!-- <ul >
    <cdk-virtual-scroll-viewport  style="height: 100px;width:90%;" itemSize="20" >
          <ng-container *cdkVirtualFor="let n of numbers" >
          <li class="li1" > {{n}} </li>
          </ng-container>
    </cdk-virtual-scroll-viewport>
</ul> -->
       
</div>
<!-- <div class="row" >
    <div class="col-md-6" style="border:1px solid black">
  dndndhjjhj<br>
    </div>
    <div class="col-md-6" style="border:1px solid black">
  ndnwqbjdb
    </div>
  </div> -->