.chat-icon{
  max-height:50px;
  width:50px;
  cursor: pointer;
  border-radius: 34px 8px 34px 34px;
  box-sizing: border-box;
  background-color: #d02129 ;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 9;
  
  
}
.icon-style{
  font-size:26px;
  color:white;
  padding:13px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  
}
.chat-box{
  /* border:1px solid black; */
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  /* border: 3px solid #f1f1f1; */
  z-index: 999;
  height:70%;
  width:250px;
  background-color: white;
  border-radius: 5px;
  
  
}

/* .form-container {
  height: 300px;
  width: 400px;
  padding: 10px;
  background-color: white;
 
} */
.head{
width:100%;
height:90px;
background-color: #d02129 ;
/* border:1px solid black; */

}

.head1{
  width:70%;
  height:100%;
  margin-left: 10px;
  /* border:1px solid black; */
  float:left; 
}
.head2{
  width:10%;
  height:100%;
  /* border:1px solid black; */
  float:left;
  margin-left: 35px;
}
.p1{
  color:white;
  font-size: 16px;
  padding-left: 10px;
}
.p2{
  color:white;
  font-size: 10px;
  padding-left: 10px;

}
.icon-style1{
  color:white;
  font-size:14px;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.main{
  width:100%;
  /* border:1px solid black; */
  height:286px;
  overflow:scroll;
  display:block;
}


.foot{
  width:100%;
  height:10%;
  background-color: #EBECF0;
  display: table;
  border-radius: 5px;
  position:sticky;
}

.foot1{
  height:100%;
  width:50%;
  float:left;
  position:sticky;
  /* position:fixed; */
}
.foot1:hover{
  background-color: #a2b8d1;
  /* position:sticky; */
  /* position:fixed; */
}














.home{
	width:100%;
	height:100%;
	/* background-color: rgb(165, 192, 165); */
}

/* .................................bg-animation...................................... */
.animation{
height:100vh;
width:100%;
background-image:url("src/assets/images/gif2.gif"); 
background-size: cover;
}
/* ...........................end......................................................... */

/* ..............................................string-list.................................. */
@keyframes zoom{
from{transform:scale(1,1)}
to{transform:scale(2,2)}
}
.li1:hover{
    
  color:red;
  animation-name: zoom;
  animation-timing-function:linear; 
  animation-duration: 5s;
	animation-fill-mode: forwards;  

}
.string{
	height:490px;
	width:100%;
	line-height:50px;
	font-size:24px;
	position: absolute; 
	left: 0; 
  /* overflow-y: scroll;  */
  overflow-y:scroll;
}
 ::-webkit-scrollbar {
  display: none;
  } 
  /*...........................................end...........................................  */

/* ......................................scroll button................................. */

.scroll-btn {
  position: absolute;
  top: 19%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
} 
.scroll-btn::after {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  /* -webkit-animation: sdb10 2s infinite; */
  animation: scroll-button 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll-button {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



/* ........................................end.......................................... */


/* ..............................our services................................. */
#service{
	color:gray;
}
.circle{
  position: relative;
  height:40vh;
  width:40vh;
  background-image:url('src/assets/images/comp41.jpg') ;
  border-radius:25vh;  
  background-size: cover;
  background-color: #4CAF50;
  margin:40px;
  border:1px solid gray; 
	transition: all ease-out 1s;
	border:none;

   }

.left{
  height:50%;
  width:50%;
  left:25%;
  top:25%;
  border-radius:50%;
  position: absolute;
  background-color: aquamarine;
  opacity:0; 
  transition: all ease-out 1s; 
 display:block;
}
.unfocused{
  display: none;
}
 
 
.right{
  height:50%;
  width:50%;
  left:25%;
  top:25%;
  border-radius:50%;
  position: absolute;
  background-color: rgba(23,45,73,.6);
  opacity:0; 
  transition: all ease-out 1s; 
 display:block;
} 

 
.bottom{
  height:50%;
  width:50%;
  left:25%;
  top:25%;
  border-radius:50%;
  position: absolute;
  background-color: brown;
  opacity:0; 
  transition: all ease-out 1s; 
 display:block;
} 
.circle:hover { 
  transform:scale(0.5,0.5);

} 
.circle:hover> .left{
  transform:translate(-95%,-25%);
  opacity:1;

}
.left:hover{
  background-color: #519cf1;
  border:2px solid gray;
}

.circle:hover> .right{
  transform:translate(95%,-25%);
  opacity:1;

}
.right:hover{
  background-color: #519cf1;
  border:2px solid gray;
}
.circle:hover> .bottom{
  transform:translate(0%,95%);
  opacity:1;

}
.bottom:hover{
  background-color: #519cf1;
  border:2px solid gray;
}
#icon{
  color:white;
  font-size: 60px;
  padding:29%;
}
/* ..........................................END.................................. */


/* .............................slide-up........................................... */

.img{
  height:80vh;
  width:45vw;
  background-image: url("src/assets/images/comp25.jpg");
  background-size: cover;
	overflow: hidden; 
	margin:15px;
  /* margin-bottom: 3%; */

}
.hover1{
  color:white;
  height:100%;
  width:100%;
  left:0;
  top:92%;
  position: relative;
  background:rgba(23,45,73,.6);
  transition:   1s ease-in ;
}
.img:hover > .hover1{
top:0;
}
.img1{
  height:40vh;
  width:22vw;
  background-image: url("src/assets/images/comp41.jpg");
  background-size: cover;
	overflow: hidden; 
	/* margin:5%; */
  /* margin-bottom: 30%; */

}
.hover2{
  color:white;
  height:100%;
  width:100%;
  left:0;
  top:90%;
  position: relative;
  background:rgba(23,45,73,.6);
  transition:   1s ease-in ;
}
.img1:hover > .hover2{
	top:0;
  }
  

  /* ..................................typing effect.............................. */

.par{
  width:800px;
  font-size:20px;
  color:brown;
  animation:2s typing steps(40,end) infinite;
  white-space: nowrap; 
  overflow: hidden;
}
.cursor{
  width:5px;
  height:20px;
  background-color:gray;
  display:inline-block; 
  animation:2s blinking  infinite;
}
@keyframes typing{
  from{width:0;}
}
 @keyframes blinking{
  0%{opacity: 0;}
  100%{
    opacity:1;
  }
}  
  /* ...................................end....................................... */





/* ................................END............................................. */

/* ...................................flip................................... */
@keyframes spin {
  0%{
  transform: rotateY(0deg);
  }
  100%{
  transform: rotateY(180deg);
  }
 }
.outer-box{
  width: 250px;
  height: 200px;
  perspective: 1000px; 
}
.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

 .inner-box {
  animation: 3s spin;
  transform: rotateY(180deg);
} 

 /* .outer-box:hover .inner-box {
  transform: rotateY(180deg);
}  */

.front-box, .back-box {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color:white;
}
.front-box{
  background-image:url("src/assets/images/comp25.jpg");

}
.back-box {
  /* background-color: #333333; */
  background-image:url("src/assets/images/comp41.jpg");
  background-size: cover;
  transform: rotateY(180deg);
} 

.caption{
  text-align: left;
  left:0;
  top:72%;
  position: relative;
  transition:400ms ease-in ;
}

.back-box:hover .caption{
  top:60%;
 }
 /*...................................end.............................  */

 /* ...................................learn-more....................................... */

.splitter{
  height:100%;
  width:100%;
  position:relative;
  
}
.split-item{
  height:100%;
  width:50%;
  position:relative;
  float:left;
  background-color:beige;
  transform: matrix(1, 0, 0, 1, 0, 0); 
}
.splitter1{
  height:25%;
  width:25%;
  border:8px solid#074081;
  margin:40%;
  color:#074081;
  font-size: 22px;
  padding:25px;
}
 
.split-item:hover{
  background-color: #074081;
}

.splitter1:hover{
  background-color:white;
  color: #074081;
  /* border:8px solid red; */
  cursor:pointer;
}



.split-item:hover .splitter1{
  
  border:8px solid white;
  color:white;
  border-radius: 50%;
  transition: all .4s ease-out;
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);  
  cursor: pointer;
}


 /* ..................................end........................................ */

/* ..............................................footer............................... */

.footer0{
  z-index:9999;
}

.footer1, .footer2{
  color:white;
  padding-left:30px;
  padding-top:5px;
}
#icons{
  color:white;
  font-size: 18px;
  float: right;
  padding-top:20px;
  padding-left: 8px;
  padding-bottom: 20px;

  
}



/* ..........................................end...................................... */

/* .....................................slider........................................ */

  /* .csslider1 { 
width: 100%;
}  
 .csslider1 > .cs_anchor {
	display: none;
}   
 .csslider1 > ul {
	position: relative;
	overflow: hidden;

} 
.csslider1 > ul > li.img img {
	width: 100%;
}
 
 .csslider1 > ul > li {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	z-index: 1;
	transition: opacity 2000ms ease, transform 24000ms linear;
} 
  

.csslider1 > ul > li.num0 {
	opacity: 0;
	transform: scale(1.3) translate(-11.53846%, 11.53846%);
	
}
.csslider1 > ul > li.num1 {
	opacity: 0;
	transform: scale(1.3) translate(11.53846%, 11.53846%);
	
}
.csslider1 > ul > li.num2 {
	opacity: 0;
  transform: scale(1.3) translate(-11.53846%, -11.53846%);
	
}

@keyframes zoom {
	0%, 100% { transform: scale(1); opacity: 0 }
	8%, 33% { opacity: 1 }
	41%, 66% { transform: scale(1.3) translate(11.53846%, 11.53846%); opacity: 0; z-index: 1; }
}

@keyframes zoom {
	0%, 100% { transform: scale(1); opacity: 0 }
	8%, 33% { opacity: 1 }
	41%, 66% { transform: scale(1.3) translate(11.53846%, -11.53846%); opacity: 0; z-index: 1; }
}
@keyframes zoom {
	0%, 100% { transform: scale(1); opacity: 0 }
	8%, 33% { opacity: 1 }
	41%, 66% { transform: scale(1.3) translate(-11.53846%, -11.53846%); opacity: 0; z-index: 1; }
}
@keyframes zoom {
	0%, 100% { transform: scale(1); opacity: 0 }
	8%, 33% { opacity: 1 }
	41%, 66% { transform: scale(1.3) translate(-11.53846%, 11.53846%); opacity: 0; z-index: 2; }
}



.csslider1 > #cs_play1:checked ~ ul > li.num0{
animation: zoom 24000ms infinite -2000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > li.num1{
animation: zoom 24000ms infinite 6000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > li.num2{
animation: zoom 24000ms infinite 14000ms linear;
} 
  */
