/* .a1{
    text-decoration: none;
}

.nav{
    width:10vw;
    height:10vh;
} 

.container-home, .container-about, .container-contact{
    background-color: blueviolet;
    height:10vh;
    width:10vw;
}

.home, .about, .contact {
    color:red;
}

.home:visited{
    color:pink;
}

.focused-line {
    margin-top: -5px;
    margin-left: 65px;
    width:50px;
    height:5px;
    background-color: aqua;
    display: block;
}

.unfocused-line{
    display: none;
} */

/* .home:active{
    color:black;
    margin-left:40%;
    background-color: brown;
    text-decoration: underline;
} */

 /* a:hover+div{
    color:red;
    display:block;
  } 
div{
    display:none;
    height:3px;
    width:50px;
    background-color:gray;
    margin-left:45%;
  }  */

    /* .showme {
    display: none;
  }
  
  .showhim:hover .showme {
    display: block;
  }  */
/* mat-tabs mat-ink-bar {
    color: green;
    background-color: green;
} */

/* ................................hover with anchor.......................... */
/* .container{
    margin:40%;
}

.anc{
    padding: 10px;
    font-size: 18px;
    color:white;

    

}

.anc:hover{
   
    padding: 10px;
    font-size: 18px;
    color:yellowgreen;
    background-image: url("src/assets/images/1.jpg"); 
    background-size: 100% 5%;
    background-repeat: no-repeat;
    background-position: 0 100%;
} 
*/

/* ....................................END........................................ */
 /* .sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
}  */