
<!-- <mat-toolbar-row> -->
    <!-- <div style="margin-bottom:5px;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: inherit;">    -->

  

 <!-- <div class="nav"> -->
   <!-- <div class="contianer-home">
    <a [class]="home" (mouseenter)="mouseEnter('Home')" (mouseleave)="mouseLeave('Home')" (click)="onClicked('Home')">Home</a>
    <div [class]="homeLine"></div>
  </div>

  <div class="contianer-about">
    <a class="about" (mouseenter)="mouseEnter('About')" (mouseleave)="mouseLeave('About')" (click)="onClicked('About')">About</a>
    <div [class]="aboutLine"></div>
  </div>

  <div class="contianer-contact">
    <a class="contact" (mouseenter)="mouseEnter('Contact')" (mouseleave)="mouseLeave('Contact')" (click)="onClicked('Contact')">contact</a>
    <div [class]="contactLine"></div>
  </div> -->
<!-- <a class="anc">About</a>  -->
<!-- </div>  -->

