

.page{
  height: 100vh;
  width: 100vw;
  background-color:black;
  color:white;
  font-size: 30px;
  padding:25%;
  /* background-image: url("src/assets/images/gif6.gif");
  background-size:cover; */
}
/* @keyframes dots {
  
  50% {
    transform: translateY(1);
  }
  100% {
    transform: translateY(2);
  }
}
.d {
  animation: dots 4s  infinite;
} 
.d-2 {
  animation-delay: 0.5s;
}
.d-3 {
  animation-delay: 1s;
} */

 /*.....................................nav-bar........................................  */
#navbar {
    overflow: hidden;
    background-color: royalblue;
    background: transparent;  
    position: fixed;
    top: 0;
    width: 100%;
    height:10%;
    z-index: 999;
  }
  .nav-contain{
    width: 100%;
    /* background-color: royalblue; */
  }
.headings{
      float: left;
      color:white;
      font-family: Arial, Helvetica, sans-serif;
      /* background-color: blue; */
      /* position: relative; */
    }
.head-item{
    /* background-color:royalblue; */
    color:white;
     padding-left: 40%;
     z-index: 567;
}
.heading-margin{
       margin-top:0.7%;
        margin-left: 3%;
     }

 /* .btn{
    width:200px;
}  */

/* .share{
    height:10%;
    width:100%;
    border:2px solid gray;
    background-color:blue;

    
}   */
/* .btn:hover > .share{
    
    display:block;
    
    
}   */

/* ................................hover with anchor.......................... */

.item-bar{
    padding: 10px;
    font-size: 18px;
    /* color:white; */

    /* margin-left: 40%; */

}

.item-bar:hover{
    /* margin-left: 40%; */
    padding: 10px;
    font-size: 18px;
    background-image: url("src/assets/images/1.jpg"); 
    background-size: 100% 5%;
    background-repeat: no-repeat;
    background-position: 0 100%;
}
.text-decoration{
    text-decoration: none;
}

/* ....................................END........................................ */


/* .....................................EOF nav-bar............................................... */

  .main {
    top:10vh;
     position: static; 
    height:100%;
    width:100%;
  }
 /* ......................................................................... */

 /* ....................................go to top,bottom.................................... */

 #btn1,#btn2{
    height:45px;
    width:45px;
    z-index:9999;
    float:right;
    border:none;
    padding:6px;
    border-radius:50%;
    position: fixed;
    background-color: red;
    color:white;
    font-size: 12px;
  }
  #btn1{
    bottom: 0%;
    left:95%;
    display:none;
  }
  #btn2{
    top: 0;
    left:95%;
    display:none;
  }
  
  #topp{
    font-size: 18px;
    color:white;
  } 
  /* .................................end........................................ */
  


