
<div *ngIf="isRendering">
        
<div id="navbar">
    <div class="nav-contain">
     <button class="headings" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon" (click)="toggle()">
        {{iconName}}
      </mat-icon>
     </button>
            <div class="head-item">
                <a data-easing="linear" behavior="smooth" href="home#img" target=""  class="headings heading-margin item-bar" >Home</a>
                <a class="headings heading-margin item-bar" >About</a>
                <a  data-easing="linear" class="headings heading-margin item-bar"   href="home#service" >Services</a>
                <a class="headings heading-margin item-bar" >Contact</a>
                
            </div>
        </div>
    
</div>

<!-- <div class="main">
    <div>
        <router-outlet></router-outlet>
    </div>
</div> -->
    <mat-sidenav-container class="example-container">
        <mat-sidenav #drawer mode="side" style="width:15%;margin-top: 5%;" >
            <mat-nav-list >
                <a class="text-decoration" mat-list-item routerLink='/home' data-toggle="tooltip" data-placement="right" title="Home">Home</a>
                <a class="text-decoration" mat-list-item routerLink='/about' data-toggle="tooltip" data-placement="right" title="About-Us">About</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
           <router-outlet></router-outlet>
        </mat-sidenav-content> 
    </mat-sidenav-container>
   
<!-- ........................go to top,bottom............................... -->
<button (click)="top1();" id="btn1" title="go to top"><i class="fas fa-chevron-up" id="topp" ></i>Top</button>
<button (click)="bottom1();" id="btn2" title="go to bottom">Btm<i class="fas fa-chevron-down" id="topp" ></i></button>


<!-- ...............................end................................. -->

</div>

<!-- <div *ngIf="stopRendering">
<div class="page" align="center">
    Loading... 
</div>
</div> -->
